.home-body {
  height: 100vh;
}

.banner {
  color: $white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;

}
.banner h1 {
  font-size: 75px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 40px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}
.product {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
  transition: all 0.15s ease;
}

#first {
  margin-top: 50px;
}

/* Body design */
.product-body {
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  h1 {
  font-weight: bolder;
  font-size: 26px;
  margin-top: 0;
  }
  h3 {
  font-weight: lighter;
  color: $gray;
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 18px;
  }
}



/* Product image */
.product-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 175px;
}

/* Controls design */
.product-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.product-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: $white;
}
.product-controls a:hover {
  color: #D3473C !important
}
.product-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

/* Hover effects */
a:hover {
  text-decoration: none;
}
.product:hover {
  background: #e3e3e5;
  cursor: pointer;
}

// .product:hover .product-upvote { transform: scale(1.2) }
.product:hover .product-controls-hidden a { color: #E6E6E6 }
.product-upvote:hover .product-arrow { border-bottom: 9px solid #5898f1 }


.vdo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.gif {
  position: absolute;
}

.msg-yvon {
  margin-top: 80px;
}

.owners {
  padding: 15px 0 45px 0;
  background-color: #E3E3E5;
}

.owners-content {
  margin-bottom: 30px;
  h1 {
    margin-top: 12.5px;
  }
  h3 {
    color: #292c3c;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 18px;
  }
}

