<div class="footer">

  <div class="col-sm-4 text-left">
      <a target="_blank" href="#">
        <i class="fa fa-facebook fa-lg" ></i>
      </a>
      <a href="#">
        <i class="fa fa-instagram fa-lg" ></i>
      </a>
  </div>

  <div class="col-sm-4" style="text-align: center">
    <p>Made by a dedicated team</p>
  </div>

  <div class="col-sm-4" style="text-align: right">
    <p>MusDesign ltd is an intellectual property </p>
  </div>



</div>





