<section id="intro" class="main style1 dark fullscreen">
        <div class="content">
          <header>
            <h2>Hey.</h2>
          </header>
          <p>Bienvenue dans <strong>L'Atelier De Muss</strong>, je m'appelle Mussa. <br> Passionné
         d'art decoratif et de nature créatif, <br> je vous propose de partager mes idées à travers des objets authentiques !</p>
          <footer>
            <a href="#one" class="button style2 down">More</a>
          </footer>
        </div>
      </section>

    <!-- One -->
      <section id="one" class="main style2 right dark fullscreen">
        <div class="content box style2">
          <header>
            <h2>Que fais-je ?</h2>
          </header>
          <p>Dans mon atelier, j'use les matières (<strong>Bois, Metal, Tissu...</strong>) à l'aide de mes outlis pour créer une décoration sympa et utile</p>
        </div>
        <a href="#two" class="button style2 down anchored">Next</a>
      </section>

    <!-- Two -->
      <section id="two" class="main style2 left dark fullscreen">
        <div class="content box style2">
          <header>
            <h2>Qui suis-je ?</h2>
          </header>
          <p>Artisan de père en fils, <br> je mets à profit mes créations stylisées d'origine naturel et donner une seconde vie aux objets existant sans charme particulier pour les relooker. Nous contribuons ainsi à notre échelle au bien être de notre planète.</p>
        </div>
        <a href="#work" class="button style2 down anchored">Next</a>
      </section>

    <!-- Work -->
      <section id="work" class="main style3 primary">
        <div class="content">
          <header>
            <h2>Mes Idées</h2>
            <p>Je realise des projets en lien avec leur matiere, et leur forme, <br> je les façonne pour une agréable utilité.</p>
          </header>

          <!-- Gallery  -->
            <div class="gallery">
              <article class="from-left">
                <a href="images/fulls/01.jpg" class="image fit"><img src="images/thumbs/01.jpg" title="The Anonymous Red" alt="" /></a>
              </article>
              <article class="from-right">
                <a href="images/fulls/02.jpg" class="image fit"><img src="images/thumbs/02.jpg" title="Airchitecture II" alt="" /></a>
              </article>
              <article class="from-left">
                <a href="images/fulls/03.jpg" class="image fit"><img src="images/thumbs/03.jpg" title="Air Lounge" alt="" /></a>
              </article>
              <article class="from-right">
                <a href="images/fulls/04.jpg" class="image fit"><img src="images/thumbs/04.jpg" title="Carry on" alt="" /></a>
              </article>
              <article class="from-left">
                <a href="images/fulls/05.jpg" class="image fit"><img src="images/thumbs/05.jpg" title="The sparkling shell" alt="" /></a>
              </article>
              <article class="from-right">
                <a href="images/fulls/06.jpg" class="image fit"><img src="images/thumbs/06.jpg" title="Bent IX" alt="" /></a>
              </article>
            </div>

        </div>
      </section>


